.ToManagerButton {
    background-color: white;
    height: 24px;
    margin-top: 4px;
    margin-left: 6px;   
    }

.ToActivistButton {
    background-color: white;
    height: 24px;
    margin-top: 4px;
    margin-left: 0px;
    }

.ToKingButton {
    background-color: white;
    height: 24px;
    margin-top: 4px;
    margin-left: 0px;
    }